.searchFeild{
    display: flex;
    gap: 30px;
}
.dropDown{
    color: black;
    background-color: white;
   
    border: 2px solid black;
    height: 3px;
    width: 3px;
    padding: 20px;

   
}
.address{
    text-decoration: none;
    border: none;
    
    
}
.deliveryAdress{
    border: 2px solid black;
}

.Mynavbar{
    height: 100px;
    width: 100vw;
    background-color: rgb(251, 200, 32);
}
.sideNav{
    margin-right: 50px;
}
.bars{
    margin-left: 20px;
}

.icon{
    font-size: 30px;
    color: black;
}
.login{
    margin-right: 10px;
    border-radius: 40px;
    font-size: 17px;
    font-weight: 550;
    border: 1px solid black;
}

.signup{
    border-radius: 40px;
    font-size: 17px;
    border: 1px solid #fbc820;


}


.something{
    height: 400px;
}


